@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zilla+Slab:wght@400;500&display=swap');

:root {
  --dark: #171717;
  --cream: #fffbda;
  --green: #4ade80;
}

* {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--cream);
}

/* Fonts */

.GD__text--3xl {
  font-weight: 900;
  font-size: 4rem;
}

.GD__text--2xl {
  font-weight: 900;
  font-size: 3rem;
}

.GD__text--xl {
  font-weight: 900;
  font-size: 2.25rem;
}

.GD__text--lg {
  font-weight: 700;
  font-size: 1.5rem;
}

.GD__text--md {
  font-weight: 500;
  font-size: 1rem;
}

.GD__text--sm {
  font-weight: 400;
  font-size: 0.75rem;
}

.GD__text--logo {
  font-weight: 900;
  font-size: 1.5rem;
}

.GD__icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* Barcode Styling */
.barcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cream);
}

.GD__barcode {
  font-family: 'Libre Barcode 39', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
}

.GD__barcode--text {
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  margin-top: -0.3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .GD__barcode {
    font-size: 2rem;
  }

  .GD__barcode--text {
    font-size: 1rem;
    margin-top: -0.6rem;
    letter-spacing: 0.4rem;
  }
}

/* Navigation */

.nav {
  border-bottom: 1px solid var(--cream);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 4rem;
  backdrop-filter: blur(16px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  overflow-y: hidden;
}

.nav__bar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding: 2rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: none;
}

.nav__menu {
  display: block;
}

.nav__links--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.nav__links--mobile > li {
  padding: 0.5rem;
}

#nav__popup {
  padding-top: 1em;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (min-width: 640px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .nav__menu {
    display: none;
  }
}
