<template id="app-footer">
  <footer class="footer">
    <form class="footer__mailing">
      <label for="email" class="GD__text--semibold">Join mailing list</label>
      <div class="footer__mailing__field">
        <input type="text" id="email" name="email" class="inputBox" />
        <input type="submit" value="Submit" class="button" />
      </div>
    </form>
    <div class="footer__content">
      <div class="footer__content__branding">
        <div class="GD__text--2xl">GD GAMES</div>
        <div class="footer__content__branding__socials">
          <img src="/assets/decor/socials/facebook.svg" />

          <img src="/assets/decor/socials/instagram.svg" />
          <img src="/assets/decor/socials/youtube.svg" />
        </div>
      </div>
      <div class="footer__content__links">
        <ul class="footer__content__links__column">
          <b class="GD__text--semibold">Legal Stuff</b>
          <li>Terms and conditions</li>
          <li>Privacy Policy</li>
          <li>Return Policy</li>
        </ul>
        <ul class="footer__content__links__column">
          <b class="GD__text--semibold">Learn More</b>
          <li>About Us</li>
          <li>Jobs</li>
        </ul>
      </div>
    </div>
  </footer>
</template>
